html{
    box-sizing:border-box;
}
*,*:before, *after{
    box-sizing: inherit;
}
body{
    background-color: black;
    font-family:'Roboto','Helvetica Neue','Lucida Grande', sans-serif;
}
body,h1,h2,h3,p{
    margin: 0;
    padding:  0;
}



.topnav {
    background-color: black ;
    overflow: hidden;
    font-family:'Roboto','Helvetica Neue','Lucida Grande', sans-serif;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #4AF626;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family:'Roboto','Helvetica Neue','Lucida Grande', sans-serif;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    color: #4AF626;

  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #4AF626;
    font-family:'Roboto','Helvetica Neue','Lucida Grande', sans-serif;
  }
  
  .content {
    margin: auto;
    width: 60%;
    color:  #4AF626;
    padding: 10px;
  }



.hamburger-icon {
  position: absolute;
  z-index: 1;
  top: 5vh;
  left: 5vw;
  padding-bottom: 2vh;
}

.hamburger-icon span {
  height: 5px;
  width: 40px;
  background-color: #4AF626;
  display: block;
  margin: 5px 0px 5px 0px;
  transition: 0.7s ease-in-out;
  transform: none;
}

#openmenu:checked ~ .menu-pane {
  left: -5vw;
  transform: translateX(-5vw);
}

#openmenu:checked ~ .body-text {
  font-family:'Roboto','Helvetica Neue','Lucida Grande', sans-serif;
display: none;
}

#openmenu:checked ~ .hamburger-icon span:nth-of-type(2) {
  transform: translate(0%, 175%) rotate(-45deg);
  background-color: #4AF626;
}

#openmenu:checked ~ .hamburger-icon span:nth-of-type(3) {
  transform: rotate(45deg);
  background-color: #4AF626;
}

#openmenu:checked ~ .hamburger-icon span:nth-of-type(1) {
  opacity: 0;
}

#openmenu:checked ~ .hamburger-icon span:nth-of-type(4) {
  opacity: 0;
}

div.menu-pane {
  background-color: #000;
  position: absolute;
  transform: translateX(-105vw);
  transform-origin: (0, 0);
  width: 100vw;
  height: 100%;
  transition: 0.6s ease-in-out;
  font-family:'Roboto','Helvetica Neue','Lucida Grande', sans-serif;
  
}

.menu-pane p {
  color: #4AF626;
  font-size: 0.6em;
  font-family:'Roboto','Helvetica Neue','Lucida Grande', sans-serif;

}

.menu-pane nav {
  padding: 10%;
  font-family:'Roboto','Helvetica Neue','Lucida Grande', sans-serif;

}

.menu-links li, a, span {
      transition: 0.5s ease-in-out;
      color: #4AF626;
      font-family:'Roboto','Helvetica Neue','Lucida Grande', sans-serif;
}

.menu-pane ul {
  padding: 10%;
  display: inline-block;
  font-family:'Roboto','Helvetica Neue','Lucida Grande', sans-serif;
}

.menu-pane li {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 10px;
    font-size: 1em;
}

.menu-links li a {
  color: #4AF626;
  text-decoration: none;
  font-family:'Roboto','Helvetica Neue','Lucida Grande', sans-serif;

}


.menu-links li:hover a {
  color: #4AF626
}

.menu-links li:first-child:hover a {
  color: black;  
  background-color:#4AF626;
  font-family:'Roboto','Helvetica Neue','Lucida Grande', sans-serif;
}


.menu-links li:first-child:hover #QC-info {
opacity: 1;
}

.menu-links li:first-child:hover #DC-info {
opacity: 1;
}

#DC-info {
  background-color: #4AF626;
    border: 2px solid #4AF626;
  border-color: #4AF626;
display: block;
  opacity: 0;
}


.menu-links li:first-child a {
  padding: 5px;
}



input.hamburger-checkbox {
  position: absolute;
  z-index: 3;
  top: 5vh;
  left: 5vw;
  width: 10vw;
  opacity: 0;
  height: 6vh;
}

table {
  font-family:'Roboto','Helvetica Neue','Lucida Grande', sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #4AF626;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: black
}