html{
    box-sizing:border-box;
}
*,*:before, *after{
    box-sizing: inherit;
}
body{
    font-family:'Roboto','Helvetica Neue','Lucida Grande', sans-serif;
}
body,h1,h2,h3,p{
    margin: 0;
    padding:  0;
}

.background{
    background: black;
}